<div> Current Conditions </div>
<a href="/hourly_forecast"> Hourly Forecast </a>
<a href="/daily_forecast"> Daily Forecast </a>
<div> Current Conditions: <%= @current_condition.condition %> </div>
<div> Temperature: <%= @current_condition.temperature %> </div>
<div> Wind Speed: <%= @current_condition.wind_speed %> </div>
<div> Humidity: <%= @current_condition.humidity %> </div>
