<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div> Here's today's forecast! </div>
    <div> <%= "Today's high: #{@forecast.high}" %> </div>
    <div> <%= "Today's Conditions: #{@forecast.day_details}" %> </div>
    <div> <%= "Today's Low: #{@forecast.low}" %> </div>
    <div> <%= "Tonight's Conditions: #{@forecast.night_details}" %> </div>
  </body>
</html>
