<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div> Welcome to the Rails Weather App! </div>
    <div> You are now registered to receive daily forecast alerts! </div>
    <div> To change your preferences, sign into your account here: <%= @url %>. </div>
  </body>
</html>


